Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:JetBrainsMono Nerd Font:size:15, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48


! FOR ALL OTHER PROGRAMS USE XRESOURCES
! This includes xterm and urxvt
! Onenord color scheme for Xresources (xterm, rxvt, ...)

*foreground:     #E5E9F0
*background:     #2E3440
*highlightColor: #3F4758
*cursorColor:    #81A1C1

! black
*color0:         #3B4252
*color8:         #4C566A

! red
*color1:         #E06C75
*color9:         #E06C75

! green
*color2:         #9EC183
*color10:        #9EC183

! yellow
*color3:         #EBCB8B
*color11:        #EBCB8B

! blue
*color4:         #81A1C1
*color12:        #81A1C1

! magenta
*color5:         #B988B0
*color13:        #B988B0

! cyan
*color6:         #88C0D0
*color14:        #8FBCBB

! white
*color7:         #E5E9F0
*color15:        #ECEFF4
